{% extends "./base_navbar.html" %}


{% block section2 %}

<!-- Login FORM -->
<div id="login-header" class="header-slider text-center" style="padding:50px 0">
    <div id="logo" class="login">Login Failed!</div>
    <!-- Main Form -->
    <div class="login-form-1">
            <div class="etc-login-form">
                <table class="etc-login-form">
                    <tr><td> Login failed for <strong>{{ email }}</strong>! </td></tr>
                    <tr> <td> Please check the <strong>Email ID/Password</strong> again </td></tr>
                </table>
            </div>
            <div class="etc-login-form">
                <table class="etc-login-form">
                    <tr>
                        <td><strong><a href=".">Click Here</a> to LOGIN again</strong></td>
                    </tr>
                </table>

                <br><br>

                <table class="etc-login-form">
                    <tr>
                        <td><strong>Want to REGISTER afresh? <a href="../register">Click Here</a></strong></td>
                    </tr>
                    <tr>
                        <td><strong>Forgot Password? <a href="../password">Click Here</a></strong>
                    </tr>
                </table>
            </div>
    </div>
    <!-- end:Main Form -->
</div> 

<!-- spacer section -->
<section class="spacer green">
<div class="container">
    <div class="row"> 
        <div class="span6 alignright flyLeft">
            <blockquote class="large">
                 Education is the most powerful weapon which you can use to change the world <cite>Nelson Mandela</cite> 
            </blockquote>
        </div>
        <div class="span6 aligncenter flyRight">
            <i class="icon-coffee icon-10x"></i>
        </div>
    </div>
</div>
</section>
<!-- end spacer section -->


{% endblock %}
